.SplitView {
  display: flex;
  background-color: #f8fafc;
}

.Logo-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-side {
  background-color: #f8fafc;
  padding: 10px;
  height: 100vh;
  flex: 0.7 1;
}

.right-side {
  padding: 10px;
  background-color: #e2e8f0;
  flex: 1 1;
}
